{% extends 'base.html.twig' %}

{% block title %}New Rendu{% endblock %}

{% block body %}
    <h1 class="mt-4 mb-4">Create New Rendu</h1>

    <div class="card">
        <div class="card-body">
            {{ include('rendu/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
